<div class="grid">

  <div class="col-2">
    <p-dropdown
      [filter]="false"
      (onChange)="eventFilter.emit()"
      [options]="listOptions"
      [(ngModel)]="filterParams.typeProgram"
      placeholder="Tipo de programa"
      optionLabel="name"
      [showClear]="true"
      optionValue="value">
    </p-dropdown>
  </div>

  <div class="col-2">
    <span class="p-float-label">
      <input id="name" (keyup)="eventFilter.emit()" (change)="eventFilter.emit()" [(ngModel)]="filterParams.name" class="w-100" type="text" pInputText>
      <label for="name">Nombre</label>
    </span>
  </div>

  <div class="col-2">
    <p-dropdown
      [filter]="false"
      (onChange)="eventFilter.emit()"
      [options]="listYears"
      [(ngModel)]="filterParams.date"
      placeholder="Año"
      optionLabel="name"
      [showClear]="true"
      optionValue="value">
    </p-dropdown>
  </div>

  <div class="col-2">
    <div>Ordenar por:</div>
    <div class="flex justify-content-between">
      <div class="p-field-radiobutton">
        <p-radioButton name="orderBy" (click)="eventFilter.emit()" value="releaseYear" [(ngModel)]="filterParams.orderBy" inputId="año"></p-radioButton>
        <label for="año">Año</label>
      </div>
      <div class="p-field-radiobutton">
        <p-radioButton  name="orderBy" (click)="eventFilter.emit()" value="title" [(ngModel)]="filterParams.orderBy" inputId="Nombre"></p-radioButton>
        <label for="Nombre">Nombre</label>
      </div>
    </div>
  </div>

  <div class="col-2">
    <p-dropdown
      [filter]="false"
      [(ngModel)]="filterParams.typeOrder"
      (onChange)="eventFilter.emit()"
      [options]="listOrderBy"
      placeholder="Tipo de orden"
      optionLabel="name"
      optionValue="value">
    </p-dropdown>
  </div>
</div>
