
:host ::ng-deep p-dropdown .p-dropdown {
  width: 100%;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
  min-width: 20rem;
}

.p-field-radiobutton{
  label{
     margin-left: 10px;
  }
}
