
<section class="grid">
  <div class="col-2" *ngFor="let item of movies">
    <div style="background-image: url({{item.images['Poster Art'].url}})"  class="conten-item w-100">
    </div>
    <div class="flex justify-content-between border-top-1">
      <span>{{item.releaseYear}}</span>
      <span>{{item.programType}}</span>
    </div>
  </div>

</section>
