<p-card>
  <h3 class="">Inicio de sesión</h3>
  <p *ngIf="requestStatus?.error" id="error" class="p-error">Los datos son invalidos</p>
  <form #formT="ngForm" (ngSubmit)="sendEmit()" [formGroup]="form" action="">
    <div>
    <span class="p-float-label">
    <input formControlName="email" id="username" type="text" pInputText>
    <label for="username">Email</label>
      <div *ngIf="formT.submitted && email.errors" class="p-error">Campo requerido</div>
</span>
    </div>
    <div>
    <span class="p-float-label">
    <input formControlName="password" id="pass" type="password" pInputText>
    <label for="pass">Contraseña</label>
      <div *ngIf="formT.submitted && password.errors" class="p-error">campo requerido</div>
</span>
    </div>
    <button pButton pRipple type="submit" label="Entrar"></button>
  </form>

</p-card>
