h3 {
  text-align: center;
}

p-card {

  width: 200px;

  div {
    margin-bottom: 25px;
  }
}

:host ::ng-deep .p-card-body {
  width: 300px;
}

.p-inputtext{
  width: 100%;
}

button{
  width: 100%;
  display: flex;
  margin: auto;
}

.p-error{
  font-size: 12px;
}

#error{
  margin-top: 0;
  margin-bottom: 25px;
}
