<section style="padding: 20px 40px">
  <h1>Aivo Tv</h1>
  <app-filters
    (eventFilter)="getMovies()"
    [listYears]="listYears"
    [listOrderBy]="listOrderBy"
    [filterParams]="filterParams"
    [listOptions]="lisOptions"
  ></app-filters>
  <app-list [movies]="movies"></app-list>
</section>
